@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 0.9375rem;
}

h1,
h2,
h3 {
  margin-top: 0;
}

.container {
  margin: 1.5rem;
}
